authtoken: -
region: ap
tunnels:
  helpdesk:
    proto: http
    addr: 80
    host_header: "helpdesk.local"
    subdomain: helpdesk
  puskemas:
    proto: http
    addr: 80
    host_header: "puskesmas.local"
    subdomain: puskesmas
